 
/* Navbar Styles */

.navbar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.navbar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.navbar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
